.main {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.custom-toast {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.new-player {
    font-size: 1.2rem;
}

.score {
    font-size: 1rem;
}

.counting-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
}

.round-winner {
    background-color: var(--success);
    color: var(--white);
}

.required-label:after {
    content: " *";
    color: var(--danger);
    font-weight: bold;
}

.waiting-for-players:after {
    content: "";
    animation: dots infinite 2s;
}

@keyframes dots {
    35% {
        content: ".";
    }

    55% {
        content: "..";
    }

    85% {
        content: "...";
    }
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 40% 1fr;
        gap: 10px;
    }
}
